#バーチャル環境
venv/
firstenv/
ENV/
.env/

#excel file
*.xlsx
*.xls

#csv file
*.csv


#ignore all log files
*.log
*.tmp

#ignore all data files
data/

#ignore database file
db.sqlite3

#ignore python cache file
__pycache__/
*.py[cod]
*$py.class



#ignore pyinstaller file
*.spec

#ignore IDE file
.idea/

#ignore editor file
.vscode/
.ipynb_checkpoints/
.DS_Store
.cursor/

#ignore ssh file
.ssh/

#ignore pyinstaller build file
build/
dist/
*.toc
*.pyz
*.pkg
*.exe
*.html

#ignore PIL cache file
*.cache/

#ignore virtualenv file
.venv/
